<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
<div th:replace="~{toolbar.html}"></div>

<div class="card-container">
    <div class="card" >
        <div class="card-body">


            <div class="card" id="AM">
                <div class="card-body">

                    <table class="table table-hover">
                        <div class="spinner-border d-none " role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cliente : ${cliente}">
                            <td th:text="${cliente.numeroCliente}"></td>
                            <td th:text="${cliente.nome} "  class="cliente-nome"></td>
                            <td th:text="${cliente.email}"></td>

                            <td> <form th:action="@{'/' + ${id} + '/' + ${cliente.id} + '/deletecliente'}" method="post" id="form-excluir">
                                <button class="btn btn-warning" onclick="confirmarExclusao()">Excluir</button>
                            </form>
                            </td>

                            <td><form th:action="@{'/' + ${id} + '/' + ${cliente.id} + '/clienteupdate'}" method="get">
                                <button class="btn btn-outline-dark" type="submit">Editar</button>
                            </form></td>

                        </tr>


                        </tbody>

                    </table>



                </div>

            </div>

        </div>
        <div th:if="${not #strings.isEmpty(mensagemSalvo) or not #strings.isEmpty(mensagemErro)}" class="success-message" >
            <div class="modal" tabindex="-1" id="modalretorn">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Aviso</h5>
                            <button type="button" class="btn-close" aria-label="Close" onclick="closeModal()"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                            <span th:text="${mensagemSalvo}"></span>
                            <span th:text="${mensagemErro}"></span>
                           </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
<script type="application/javascript" src="/list.js" defer></script>
</body>
</html>
