<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Criar Cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div th:replace="~{toolbar.html}"></div>





    <div class="card-container">
        <div class="card">
            <div class="card-body">
                <div class="row g-2">
                    <div class="col d-flex align-items-start">
                        <button class="btn btn-link toolbar-link btn-voltar" onclick="home()">
                            <i class="material-icons">arrow_back</i>
                        </button></div>
                    <div class="col-8 d-flex align-items-start ">
                        <h3 class="text-center">Cadastrar Novos Clientes</h3>
                    </div>
                </div>
                <form th:action="@{'/' + ${id} + '/clienteservice'}" method="post" th:object="${cliente}" id="formservice">
                <div class="card" id="os">
                    <div class="card-body">
                        <div class="row g-4">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
                                    <label for="nome">Nome</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cpf" th:field="*{cpf}" >
                                    <label for="cpf">CPF</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cnpj" th:field="*{cnpj}" required>
                                    <label for="cnpj">CNPJ</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="email" th:field="*{email}"required>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cep">
                                    <label for="cep">CEP</label>
                                    <div id="cep-erro" class="form-text text-danger ">CEP não encontrado.</div>

                                </div>
                            </div>
                        </div>



                        <div class="row g-4">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="endereco" th:field="*{endereco}">
                                    <label for="endereco">Endereço</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cidade" th:field="*{cidade}">
                                    <label for="cidade">Cidade</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="estado" th:field="*{estado}">
                                    <label for="estado">Estado</label>
                                </div>
                            </div>
                        </div>


                        <div class="container text-center">
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-2">
                                    <button type="button" class="btn btn-outline-success" id="del" onclick="limpar()">Limpar</button>
                                </div>
                                <div class="col-md-auto">
                                    <span></span>
                                </div>
                                <div class="col col-lg-2">
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div th:if="${not #strings.isEmpty(mensagemSalvo) or not #strings.isEmpty(mensagemErro)}" class="success-message" id="chamarmodal">
                        <div class="modal" tabindex="-1" id="modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Aviso</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  onclick="closeModal()"></button>
                                    </div>
                                    <div class="modal-body">
                                        <span th:text="${mensagemSalvo}"></span>
                                        <span th:text="${mensagemErro}"></span>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>



<script type="application/javascript" src="/js/script.js" defer></script>
</body>
</html>
