<!DOCTYPE html>
<html>
<head>
    <title>Ordem de serviço</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<div th:replace="~{toolbar.html}"></div>

<form th:action="@{'/' + ${id} + '/ordemservice'}" method="post" th:object="${ordem}" id="formulario">
    <div class="card-container">
        <div class="card">
            <div class="card-body">
                <div class="card" id="os">
                    <div class="card-body">
                        <div class="row g-4">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="responsavel" th:field="*{responsavel}">
                                    <label for="responsavel">Responsável</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="date" class="form-control" id="data" th:field="*{data}">
                                    <label for="data">Data</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cliente" th:field="*{cliente.nome}" th:autocomplete="off" oninput="buscarClientes(this.value)">
                                    <label for="cliente">Cliente:</label>
                                    <input type="hidden" th:field="*{cliente.id}">
                                    <div th:if="${#fields.hasErrors('cliente.nome')}">
                                        <span th:errors="*{cliente.nome}"></span>
                                    </div>
                                    <div class="autocomplete" th:fragment="autocomplete">
                                        <ul id="cliente-list" class="list-group">
                                            <li th:each="cliente : ${clientes}" th:text="${cliente.nome}" onclick="selecionarCliente('${cliente.id}', '${cliente.nome}')"></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md">
                                <button type="button" class="btn btn-outline-secondary btn-lg">Novo cliente</button>
                            </div>
                        </div>
                    </div>


                <div class="card-container-custom">
                    <div class="card">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="equipamento" th:field="*{equipamento}">
                                        <label for="equipamento">Equipamento</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="marca" th:field="*{marca}">
                                        <label for="marca">Marca</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="numserie" th:field="*{numserie}">
                                        <label for="numserie">Numero de serie</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container-custom">
                    <div class="card">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <textarea class="form-control" id="diagnostico" th:field="*{diagnostico}"></textarea>
                                        <label for="diagnostico">Diagnostico Atual</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <textarea class="form-control" id="pecas" th:field="*{pecas}"></textarea>
                                        <label for="pecas">Peças</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <textarea class="form-control" id="laudo" th:field="*{laudo}"></textarea>
                                        <label for="laudo">Laudo Tecnico</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container-custom">
                    <div class="card">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="documento" th:field="*{documento}">
                                        <label for="documento">Documento</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="assinatura" th:field="*{assinatura}">
                                        <label for="assinatura">Assinatura</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container text-center">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-2">
                            <button type="button" class="btn btn-outline-success" id="del">Limpar</button>
                        </div>
                        <div class="col-md-auto">
                            <span></span>
                        </div>
                        <div class="col col-lg-2">
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div th:if="${mensagemErro}" class="error-message">
    <span th:text="${mensagemErro}"></span>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-krG/EitM2Bw5ft7ujZ/zqJOT3iCfo1tTQaHFs0fJ3tZ3f7Rwo1syyD/j/6HhHixB" crossorigin="anonymous"></script>
<script src="http://localhost:8080/../script.js"></script>

</body>
</html>
