<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Ordens</title>
</head>
<body>
<h1>Lista de Ordens</h1>
<table>
    <thead>
    <tr>

        <th>Responsável</th>
        <th>Data</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="ordem : ${ordens}">

        <td th:text="${ordem.data}"></td>
        <td th:text="${ordem.cliente.nome}"></td>
        <td><form th:action="@{'/' + ${id} + '/' + ${ordem.setId()} + '/deleteorder'}" method="post">
            <button type="submit">Excluir</button>
        </form></td>
        <td><form th:action="@{'/' + ${id} + '/' + ${ordem.setId()} + '/updateorder'}" method="get">
            <button type="submit">Editar</button>
        </form></td>



    </tr>
    </tbody>
</table>
</body>
</html>