<div class="toolbar">
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a href="#">
        <img src="/imagens/logoup.png" alt="Logo OrderUp">
      </a>
      <a class="navbar-brand ms-5" href="perfil">OrderUp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="toolbar-link nav-link active" aria-current="page" href="perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="toolbar-link nav-link active" aria-current="page" href="ordemservice">Ordem de serviço</a>
          </li>
          <li class="nav-item">
            <a class="toolbar-link nav-link active" aria-current="page" href="ordemlist">Armazenamento</a>
          </li>
        </ul>
        <button class="btn btn-outline-success" type="submit">Sair</button>
      </div>
    </div>
  </nav>
</div>